<?xml version='1.0' encoding='utf-8'?>

<plugin id="cordova-plugin-arplugin" version="1.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>DemoPlugin</name>
    <js-module name="ArPlugin" src="www/ArPlugin.js">
        <clobbers target="ArPlugin"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ArPlugin"><param name="ios-package" value="ArPlugin" /></feature>
        </config-file>
        <source-file src="src/ios/ArPlugin.swift" />
        <source-file src="src/ios/Document.swift" />
        <source-file src="src/ios/DocumentBrowserViewController.swift" />
        <source-file src="src/ios/DocumentView.swift" />
        <source-file src="src/ios/ImageContainerPlaneNode.swift" />
        <source-file src="src/ios/ViewController.swift" />
        <source-file src="src/ios/BookARViewController.swift" />
    </platform>

</plugin>